<%if User.current.allowed_to_globally?(:view_others_attendance, {}) %>
    <div>
      <%= select_tag :user_id, options_for_select(User.active.order('firstname ASC').map{|user| [user.name, user.id] },
                                                  selected: (params[:user_id] || User.current.id))%>
    </div>
<% end %>
<fieldset>
  <div>

    <p>
      <label>Date From</label>
      <%= text_field_tag :date_from, params[:date_from].try(:to_date), autocomplete: 'off' %>
    </p>

    <p>
      <label>Date to</label>
      <%= text_field_tag :date_to, params[:date_to].try(:to_date), autocomplete: 'off' %>
    </p>

    <script>
      $(document).ready(function(){
          $( "#date_from, #date_to" ).datepicker({ dateFormat: 'dd-mm-yy' })
      })

    </script>
  </div>
</fieldset>
